/* global.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body, #root {
    height: calc(100vh - 2rem); /* Adjust height to account for body padding */
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    max-width: 1200px; /* Set a bigger width */
    height: 100vh; /* Full screen height */
  }
